{% extends "base.html" %}
{% load static %}
{% block content %}


<section class="page-header page-header-xs dark">
  <div class="container">

   <h1>ABOUT US</h1>

   <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active">About Us</li>
   </ol>
 
  </div>
</section>

<section>
  <div class="container">

    <div class="row">
      <div class="col-md-9">

        <img class="float-left" src="{% static 'img/visu-impact.jpg' %}" alt="" />

        <div class="heading-title">
          <h2>Who We Are?</h2>
        </div>

        <p class="justify">
            Impact Initiatives Limited is an innovative company
            providing general advisory services, management,
            research, training and development consulting services.
            The company started operations in 22nd May, 2009
            with business registration number CA-59,380. Over
            the last seven years, the professionals in Impact has
            acquired varied experiences in the conduct of surveys,
            feasibility studies, business planning, strategic planning,
            business proposals as well as monitoring and evaluation
            assignment for varied clients. The firm has also been
            involved in various assignments that involved nationwide
            collection of data and the analysis thereof to inform policy
            decisions-making. Our well-resourced team of professional
            researchers, consultants and business executives have
            solid global strategic alliances and network to deliver with
            speed and extra-ordinary customer care, crowning it with a
            guaranteed satisfaction to our key stakeholders. At Impact
            Initiative, we value quality output. As such, all our work is
            quality checked and rechecked before final submission to
            the client.
          </p>


        <div class="row mt-60">

          <div class="col-sm-6">
            <div class="heading-title heading-border-bottom heading-color">
              <h3>Our Vision</h3>
              <p></p>
            </div>

            <p>A global consulting brand that impacts the world
                with innovative solutions.</p>
            <p></p>

          </div>

          <div class="col-sm-6">
            <div class="heading-title heading-border-bottom heading-color">
              <h3>Our Mission</h3>
              <p></p>
            </div>

            <p><ul class="list-unstyled list-icons">

                <li><i class="fa fa-check text-success"></i> To be the foremost firm offering innovative research
                and compelling business solutions.</li>
                <li><i class="fa fa-check text-success"></i> Cultivate a truly transformational working
                environment where workers achieve their full
                potential and have the best working experience
                ever.</li>
              <li><i class="fa fa-check text-success"></i> To influence policies and practices of government
                and the private sector in building society and people.</li>
            </ul>
              </p>

          </div>

        </div>


        <div class="mt-60">

          <div class="heading-title heading-border-bottom heading-color text-center">
            <h3>Core Values</h3>
            <p></p>
          </div>
          <p><ul class="list-unstyled list-icons">

          <li><i class="fa fa-check text-success"></i> Excellence - Our output
              is nothing short of
              excellence</li>
              <li><i class="fa fa-check text-success"></i> Integrity - We keep our
              promise</li>
              <li><i class="fa fa-check text-success"></i> Innovation - We are a
              dynamic company that
              value innovativeness</li>
              <li><i class="fa fa-check text-success"></i> Results oriented - We
              deliver quality results,
              always</li>
            </ul>  
            </p>

        </div>


      </div>
    </div>

  </div>
</section>

{% endblock %}