{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="utf-8" />
 <title>Impact Initiatives</title>
 <meta name="description" content="" />
 <meta name="Author" content="Diginera Limited, Diginera LLC" />

 <!-- mobile settings -->
 <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
 <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

 <!-- WEB FONTS : use %7C instead of | (pipe) -->
 <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700"
  rel="stylesheet" type="text/css" />

 <!-- CORE CSS -->
 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous">

 <!-- THEME CSS -->
 <link href="{% static 'css/essentials.css' %}" rel="stylesheet" type="text/css" />
 <link href="{% static 'css/layout.css' %}" rel="stylesheet" type="text/css" />

 <!-- PAGE LEVEL SCRIPTS -->
 <link href="{% static 'css/header-1.css' %}" rel="stylesheet" type="text/css" />
 <link href="{% static 'css/blue.css' %}" rel="stylesheet" type="text/css" id="color_scheme" />

 <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132878494-1"></script>
 <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-132878494-1');
 </script>
</head>

<body class="smoothscroll enable-animation">
 <div id="wrapper">

  {% include "menu.html" %}

  {% block content %}{% endblock %}
 </div>

 <!-- SCROLL TO TOP -->
 <a href="#" id="toTop"></a>

<!-- <div id="preloader">
  <div class="inner">
   <span class="loader"></span>
  </div>
 </div> -->

 {% include "footer.html" %}
 <script>
  var plugin_path = "{% static 'js/' %}";
 </script>
 <script src="//code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
 <script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>

 <script src="{% static 'js/scripts.js' %}"></script>
 {% block script %}{% endblock %}

</body>

</html>