{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3971.059357683779!2d-0.25854118523408026!3d5.558220695970035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf977c157246f9%3A0x61e40dad906a84a7!2sKpakpo+Allotey+Street%2C+Accra%2C+Ghana!5e0!3m2!1sen!2sca!4v1546119740969" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->
<div id="map2" class="h-400 grayscale"></div>

<section class="page-header page-header-xs">
 <div class="container text-right">

  <ol class="breadcrumb  breadcrumb-inverse">
   <li><a href="#">Home</a></li>
   <li><a href="#">Pages</a></li>
   <li class="active">Contact</li>
  </ol>

 </div>
</section>

<section>
 <div class="container">

  <div class="row">

   <div class="col-md-9">

    <h3>Drop us a line or just say <strong><em>Hello!</em></strong></h3>

    <!-- Alert Success -->
    <div id="alert_success" class="alert alert-success mb-30">
     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
     <strong>Thank You!</strong> Your message successfully sent!
    </div><!-- /Alert Success -->


    <!-- Alert Failed -->
    <div id="alert_failed" class="alert alert-danger mb-30">
     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
     <strong>[SMTP] Error!</strong> Internal server error!
    </div><!-- /Alert Failed -->


    <!-- Alert Mandatory -->
    <div id="alert_mandatory" class="alert alert-danger mb-30">
     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
     <strong>Sorry!</strong> You need to complete all mandatory (*) fields!
    </div><!-- /Alert Mandatory -->


    <form action="/contact.php" method="post" enctype="multipart/form-data">
     <fieldset>
      <input type="hidden" name="action" value="contact_send" />

      <div class="row">
       <div class="col-md-4">
        <label for="contact:name">Full Name *</label>
        <input required type="text" value="" class="form-control" name="contact[name][required]" id="contact:name">
       </div>
       <div class="col-md-4">
        <label for="contact:email">E-mail Address *</label>
        <input required type="email" value="" class="form-control" name="contact[email][required]" id="contact:email">
       </div>
       <div class="col-md-4">
        <label for="contact:phone">Phone</label>
        <input type="text" value="" class="form-control" name="contact[phone]" id="contact:phone">
       </div>
      </div>
      <div class="row">
       <div class="col-md-8">
        <label for="contact:subject">Subject *</label>
        <input required type="text" value="" class="form-control" name="contact[subject][required]" id="contact:subject">
       </div>

      </div>
      <div class="clearfix">
       <label for="contact:message">Message *</label>
       <textarea required maxlength="10000" rows="8" class="form-control" name="contact[message]" id="contact:message"></textarea>
      </div>

      <div class="clearfix mt-30">
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <div class="g-recaptcha" data-sitekey="6LcvoYUUAAAAADT9XOifnHVQiwBhd1kiexQA7_4G"></div>

       </div>

     </fieldset>

     <div class="row">
      <div class="col-md-12">
       <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> SEND MESSAGE</button>
      </div>
     </div>
    </form>

   </div>
   <!-- /FORM -->


   <!-- INFO -->
   <div class="col-md-3">

    <p>
     <span class="block"><strong><i class="fa fa-map-marker"></i> Street Address:</strong> A619/18, Kpakpo Allotey Street, Dansoman</span>
     <span class="block"><strong><i class="fa fa-map-marker"></i> Mailing Address:</strong> P.O. Box dc 707, Dansoman, Accra, Ghana</span>
     <span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:+233302321986">+233 (0) 30 232 1986</a></span>
     <span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:+233208727265">+233 (0) 20 872 7265</a></span>
     <span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:+233271974550">+233 (0) 27 197 4550</a></span>
     <span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> 
     <script>document.write('<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'&'+'#'+'1'+'0'+'9'+';'+'a'+'i'+'l'+'&'+'#'+'1'+'1'+'6'+';'+'o'+
      '&'+'#'+'5'+'8'+';'+'&'+'#'+'3'+'7'+';'+'6'+'1'+'g'+'%'+'7'+'9'+'e'+'&'+'#'+'1'+'1'+'0'+';'+'%'+'6'+
      'E'+'&'+'#'+'9'+'7'+';'+'&'+'#'+'6'+'4'+';'+'y'+'a'+'h'+'&'+'#'+'1'+'1'+'1'+';'+'%'+'6'+'F'+'&'+'#'+
      '4'+'6'+';'+'c'+'o'+'m'+"'"+'>'+'a'+'g'+'y'+'e'+'n'+'n'+'a'+'&'+'#'+'6'+'4'+';'+'y'+'&'+'#'+'9'+'7'+
      ';'+'h'+'o'+'o'+'&'+'#'+'4'+'6'+';'+'&'+'#'+'9'+'9'+';'+'o'+'m'+'<'+'/'+'a'+'>');</script><noscript>[Turn on JavaScript to see the email address]</noscript>
      </span>
    </p>

    <hr />

    <h4 class="font300">Business Hours</h4>
    <p>
     <span class="block"><strong>Monday - Friday:</strong> 9am to 5pm</span>
     <span class="block"><strong>Saturday:</strong> Closed</span>
     <span class="block"><strong>Sunday:</strong> Closed</span>
    </p>

   </div>
   <!-- /INFO -->

  </div>

 </div>
</section>

{% endblock %}

{% block script %}
<script src="{% static 'js/contact.js' %}"></script>
<script src="//maps.google.com/maps/api/js?key=AIzaSyBAXSXGmBNEB1gigFa0t1BgqJziY24IeBY"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.25/gmaps.min.js" 
 integrity="sha256-7vjlAeb8OaTrCXZkCNun9djzuB2owUsaO72kXaFDBJs=" crossorigin="anonymous"></script>
<script>

 jQuery(document).ready(function(){
  var map2 = new GMaps({
   div: '#map2',
   lat: 5.570880,
   lng: -0.255020,
   scrollwheel: false
  });

  var marker = map2.addMarker({
   lat: 5.570880,
   lng: -0.255020,
   title: 'Impact Initiatives Ghana Limited'
  });

 });

</script>
{% endblock %}