{% load static %}
<footer id="footer">
<!--   <div class="container">
 
   <div class="row">
 
    <div class="col-md-3">
     <img class="footer-logo" src="{% static 'img/logo.png' %}" alt="" />
 
     <p>Small description</p>
 
     <address>
      <ul class="list-unstyled">
       <li class="footer-sprite address">
        A619/18, Kpakpo Allotey Street, Dansoman<br>
        P.O. Box dc 707, Dansoman<br>
        Accra, Ghana<br>
       </li>
       <li class="footer-sprite phone">
        Phone: +233 (0) 30 232 1986 | +233 (0) 20 872 7265 | +233 (0) 27 197 4550
       </li>
       <li class="footer-sprite email">
        <a href="mailto:agyenna@yahoo.com">agyenna@yahoo.com</a>
       </li>
      </ul>
     </address>
 
    </div>
 
    <div class="col-md-3">
 
     <h4 class="letter-spacing-1">LATEST NEWS</h4>
     <ul class="footer-posts list-unstyled">
      <li>
       <a href="#">Donec sed odio dui. Nulla vitae elit libero, a pharetra augue</a>
       <small>29 June 2017</small>
      </li>
      <li>
       <a href="#">Nullam id dolor id nibh ultricies</a>
       <small>29 June 2017</small>
      </li>
      <li>
       <a href="#">Duis mollis, est non commodo luctus</a>
       <small>29 June 2017</small>
      </li>
     </ul>
 
    </div>
 
    <div class="col-md-2">
 
     <h4 class="letter-spacing-1">EXPLORE SMARTY</h4>
     <ul class="footer-links list-unstyled">
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Our Services</a></li>
      <li><a href="#">Our Clients</a></li>
      <li><a href="#">Our Pricing</a></li>
      <li><a href="#">Smarty Tour</a></li>
      <li><a href="#">Contact Us</a></li>
     </ul>
 
    </div>
 
    <div class="col-md-4">

     <h4 class="letter-spacing-1">KEEP IN TOUCH</h4>
     <p>Subscribe to Our Newsletter to get Important News &amp; Offers</p>
 
     <form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!"
      data-toastr-position="bottom-right">
      <div class="input-group">
       <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
       <input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
       <span class="input-group-btn">
        <button class="btn btn-success" type="submit">Subscribe</button>
       </span>
      </div>
     </form>
 
     <div class="mt-20">
      <a href="#" class="social-icon social-icon-border social-facebook float-left" data-toggle="tooltip" data-placement="top"
       title="Facebook">
 
       <i class="icon-facebook"></i>
       <i class="icon-facebook"></i>
      </a>
 
      <a href="#" class="social-icon social-icon-border social-twitter float-left" data-toggle="tooltip" data-placement="top"
       title="Twitter">
       <i class="icon-twitter"></i>
       <i class="icon-twitter"></i>
      </a>
 
      <a href="#" class="social-icon social-icon-border social-gplus float-left" data-toggle="tooltip" data-placement="top"
       title="Google plus">
       <i class="icon-gplus"></i>
       <i class="icon-gplus"></i>
      </a>
 
      <a href="#" class="social-icon social-icon-border social-linkedin float-left" data-toggle="tooltip" data-placement="top"
       title="Linkedin">
       <i class="icon-linkedin"></i>
       <i class="icon-linkedin"></i>
      </a>
 
      <a href="#" class="social-icon social-icon-border social-rss float-left" data-toggle="tooltip" data-placement="top"
       title="Rss">
       <i class="icon-rss"></i>
       <i class="icon-rss"></i>
      </a>
 
     </div>
 
    </div>
 
   </div>
 
  </div> -->
 
  <div class="copyright">
   <div class="container">
    &copy; All Rights Reserved, Impact Initiatives Ghana Ltd
   </div>
  </div>
 </footer>
