{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="h-500" id="slider" style="background:url('{% static 'img/business.jpg' %}')">
 <div class="overlay dark-6"></div>

 <div class="display-table">
  <div class="display-table-cell vertical-align-middle">
   <div class="container text-center">
    <h1 class="m-0 wow fadeInUp" data-wow-delay="0.4s">
     
     <span class="rotate " data-animation="fade" data-speed="1500">
      IMPACT ASSESSMENTS, BASELINE SURVEYS, MONITORING & EVALUATION,
      MARKET RESEARCH, DUE DILIGENCE, MYSTERY SHOPPING, CUSTOMER INTELLIGENCE,
      FEASIBILITY STUDY, STRATEGIC PLANNING, TACTICAL PLANNING, BUSINESS PLAN,
      PROPOSAL WRITING, FINANCIAL MODELLING, REAL ESTATE CONSULTANCY, TRAINING,
      ACADEMIC MONITORING, GENERAL CONSULTANCY SERVICES
     </span>
    </h1>

    <p class="lead font-lato fs-30 wow fadeInUp" data-wow-delay="0.7s">
     Ongoing project with over <span class="theme-color fw-400 font-style-italic">
     $<span class="countTo" data-speed="4000">18</span>,000,000</span> involved 
    </p>

    <a class="btn btn-default btn-lg"
       href="{% static 'pdf/Impact_Initiatives_Profile_2018.pdf' %}">
       LEARN MORE
    </a>

   </div>

  </div>
 </div>

</section>

<section>
    <div class="container">

     <!-- FEATURED BOXES 3 -->
     <div class="row">
      <div class="col-md-3 col-6 mb-30">
       <div class="text-center">
        <i class="ico-light ico-lg ico-rounded ico-hover et-circle-compass"></i>
        <h4>Baseline Surveys</h4>
        <p>Baseline Surveys, Monitoring and Evaluation Assignments, Impact Assessments</p>
       </div>
      </div>

      <div class="col-md-3 col-6 mb-30">
       <div class="text-center">
        <i class="ico-light ico-lg ico-rounded ico-hover et-piechart"></i>
        <h4>Market Research</h4>
        <p>Attend to all business intelligence, market research and due diligence needs</p>
       </div>
      </div>

      <div class="col-md-3 col-6 mb-30">
       <div class="text-center">
        <i class="ico-light ico-lg ico-rounded ico-hover et-chat"></i>
        <h4>Customer Intelligence</h4>
        <p>Providing crucial feedback through mystery shopping to assess 
           customer satisfcation</p>
       </div>
      </div>

      <div class="col-md-3 col-6 mb-30">
       <div class="text-center">
        <i class="ico-light ico-lg ico-rounded ico-hover et-streetsign"></i>
        <h4>Feasibility Study</h4>
        <p>Viability of an idea
          or decision with an emphasis on identifying
          potential problems </p>
       </div>
      </div>

      <div class="col-md-3 col-6 mb-30">
       <div class="text-center">
        <i class="ico-light ico-lg ico-rounded ico-hover et-documents"></i>
        <h4>Business Plan</h4>
        <p>A tool to measure your progress; a
          compass in your business journey</p>
       </div>
      </div>

      <div class="col-md-3 col-6 mb-30">
       <div class="text-center">
        <i class="ico-light ico-lg ico-rounded ico-hover et-map"></i>
        <h4>Real Estate Consultancy</h4>
        <p>Extensive and diverse valuation
          and consulting experience</p>
       </div>
      </div>

      <div class="col-md-3 col-6 mb-30">
       <div class="text-center">
        <i class="ico-light ico-lg ico-rounded ico-hover et-profile-male"></i>
        <h4>Training</h4>
        <p>Training Workshops; nothing short of excellent courses</p>
       </div>
      </div>

      <div class="col-md-3 col-6 mb-30">
       <div class="text-center">
        <i class="ico-light ico-lg ico-rounded ico-hover et-edit"></i>
        <h4>Academic Mentoring</h4>
        <p>Thesis Clinics or Training Workshops for students</p>
       </div>
      </div>
     </div>
     <!-- /FEATURED BOXES 3 -->

    </div>
   </section>

{% endblock %}