{% extends "base.html" %}
{% block content %}
<section id="slider" class="slider fullwidthbanner-container roundedcorners">
 <div class="fullwidthbanner" data-height="550" data-navigationStyle="">
  <ul class="hide">

   <!-- SLIDE  -->
   <li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide">

    <img src="assets/images/_smarty/1x1.png" data-lazyload="demo_files/images/1200x800/10-min.jpg" alt="" data-bgfit="cover"
     data-bgposition="center top" data-bgrepeat="no-repeat" />

    <div class="overlay dark-3">
     <!-- dark overlay [1 to 9 opacity] -->
    </div>

    <div class="tp-caption customin ltl tp-resizeme text_white" data-x="center" data-y="105" data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
     data-speed="800" data-start="1000" data-easing="easeOutQuad" data-splitin="none" data-splitout="none"
     data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 10;">
     <span class="fw-300">DEVELOPMENT / MARKETING / DESIGN / PHOTO</span>
    </div>

    <div class="tp-caption customin ltl tp-resizeme large_bold_white" data-x="center" data-y="155" data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
     data-speed="800" data-start="1200" data-easing="easeOutQuad" data-splitin="none" data-splitout="none"
     data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 10;">
     WELCOME TO SMARTY
    </div>

    <div class="tp-caption customin ltl tp-resizeme small_light_white font-lato" data-x="center" data-y="245"
     data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
     data-speed="800" data-start="1400" data-easing="easeOutQuad" data-splitin="none" data-splitout="none"
     data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 10; width: 100%; max-width: 750px; white-space: normal; text-align:center; font-size:20px;">
     Fabulas definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel fastidii
     propriae philosophia cu mea.
    </div>

    <div class="tp-caption customin ltl tp-resizeme" data-x="center" data-y="313" data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
     data-speed="800" data-start="1550" data-easing="easeOutQuad" data-splitin="none" data-splitout="none"
     data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 10;">
     <a href="#purchase" class="btn btn-default btn-lg">
      <span>Purchase Smarty Now</span>
     </a>
    </div>

   </li>

   <!-- SLIDE -->
   <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide">

    <img src="assets/images/_smarty/1x1.png" data-lazyload="demo_files/images/video/neuron.jpg" alt="video"
     data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

    <div class="tp-caption tp-fade fadeout fullscreenvideo" data-x="0" data-y="0" data-speed="1000" data-start="1100"
     data-easing="Power4.easeOut" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1500"
     data-endeasing="Power4.easeIn" data-autoplay="true" data-autoplayonlyfirsttime="false" data-nextslideatend="true"
     data-volume="mute" data-forceCover="1" data-aspectratio="16:9" data-forcerewind="on" style="z-index: 2;">

     <video class="" preload="none" width="100%" height="100%" poster="demo_files/images/video/neuron.jpg">
      <source src="demo_files/images/video/neuron.webm" type="video/webm" />
      <source src="demo_files/images/video/neuron.mp4" type="video/mp4" />
     </video>

    </div>

    <div class="tp-caption customin ltl tp-resizeme text_white" data-x="center" data-y="105" data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
     data-speed="800" data-start="1000" data-easing="easeOutQuad" data-splitin="none" data-splitout="none"
     data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 3;">
     <span class="fw-300">DEVELOPMENT / MARKETING / DESIGN / PHOTO</span>
    </div>

    <div class="tp-caption customin ltl tp-resizeme large_bold_white" data-x="center" data-y="155" data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
     data-speed="800" data-start="1200" data-easing="easeOutQuad" data-splitin="none" data-splitout="none"
     data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 3;">
     WELCOME TO SMARTY
    </div>

    <div class="tp-caption customin ltl tp-resizeme small_light_white font-lato" data-x="center" data-y="245"
     data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
     data-speed="800" data-start="1400" data-easing="easeOutQuad" data-splitin="none" data-splitout="none"
     data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 3; width: 100%; max-width: 750px; white-space: normal; text-align:center; font-size:20px;">
     Fabulas definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel fastidii
     propriae philosophia cu mea.
    </div>

    <div class="tp-caption customin ltl tp-resizeme" data-x="center" data-y="313" data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
     data-speed="800" data-start="1550" data-easing="easeOutQuad" data-splitin="none" data-splitout="none"
     data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 3;">
     <a href="#purchase" class="btn btn-default btn-lg">
      <span>Purchase Smarty Now</span>
     </a>
    </div>

   </li>

   <!-- SLIDE  -->
   <li data-transition="fade" data-slotamount="14" data-masterspeed="300" data-delay="10000">

    <!-- COVER IMAGE -->
    <img src="assets/images/_smarty/1x1.png" data-lazyload="demo_files/images/wall.jpg" alt="" data-bgfit="cover"
     data-bgposition="left top" data-bgrepeat="no-repeat" />

    <div class="tp-caption lft boxshadow" data-x="70" data-y="90" data-speed="900" data-start="500" data-easing="easeOutBack">
     <iframe src='//player.vimeo.com/video/58238439?title=0&amp;byline=0&amp;portrait=0;api=1' width='640' height='360'></iframe>
    </div>

    <div class="tp-caption sft large_bold_white" data-x="750" data-y="85" data-speed="300" data-start="1200"
     data-easing="easeOutExpo">SMARTY
    </div>

    <div class="tp-caption lfb medium_light_white" data-x="750" data-y="200" data-speed="300" data-start="1400"
     data-easing="easeOutExpo">&bull; Revolution Slider <span class="line-through">$14</span>
    </div>

    <div class="tp-caption lfb medium_light_white" data-x="750" data-y="234" data-speed="300" data-start="1700"
     data-easing="easeOutExpo">&bull; Layer Slider <span class="line-through">$11</span>
    </div>

    <div class="tp-caption lfb medium_light_white" data-x="750" data-y="274" data-speed="300" data-start="2000"
     data-easing="easeOutExpo">&bull; Tons Of Features
    </div>

    <div class="tp-caption lfb" data-x="751" data-y="370" data-speed="300" data-start="1600" data-easing="easeOutExpo">
     <a href="#purchase" class="btn btn-default btn-lg">
      <span>PURCHASE SMARTY</span>
     </a>
    </div>

   </li>

  </ul>
  <div class="tp-bannertimer"></div>
 </div>
</section>
<!-- /REVOLUTION SLIDER -->



<!-- CALLOUT -->
<div class="alert alert-transparent bordered-bottom m-0">
 <div class="container">

  <div class="row">

   <div class="col-md-9 col-sm-12">
    <!-- left text -->
    <h3><strong>SMARTY &ndash; CLEAN AND POWERFUL MULTIPURPOSE</strong></h3>
    <p class="font-lato fw-300 fs-20 mb-0">
     We truly care about our users and our product.
    </p>
   </div><!-- /left text -->


   <div class="col-md-3 col-sm-12 text-right">
    <!-- right btn -->
    <a href="page-services-1.html" class="btn btn-3d btn-teal btn-lg fs-16">OUR SERVICES</a>
   </div><!-- /right btn -->

  </div>

 </div>
</div>
<!-- /CALLOUT -->



<!-- -->
<section>
 <div class="container">

  <div class="row">

   <div class="col-lg-4">

    <div class="heading-title heading-border-bottom">
     <h3>Smarty Vision</h3>
    </div>

    <div class="toggle toggle-transparent toggle-bordered-simple toggle-accordion">

     <div class="toggle active">
      <label>Who we are?</label>
      <div class="toggle-content">
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
      </div>
     </div>

     <div class="toggle">
      <label>Our long-term vison</label>
      <div class="toggle-content">
       <p>Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc.</p>
      </div>
     </div>

     <div class="toggle">
      <label>How can we help you?</label>
      <div class="toggle-content">
       <p>Ut enim massa, sodales tempor convallis et, iaculis ac massa.</p>
      </div>
     </div>

    </div>

   </div>

   <div class="col-lg-4">

    <div class="heading-title heading-border-bottom">
     <h3>Smarty Skills</h3>
    </div>

    <div class="progress progress-lg">
     <!-- progress bar -->
     <div class="progress-bar progress-bar-warning progress-bar-striped active text-left" role="progressbar"
      aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%; min-width: 2em;">
      <span>WEB DESIGN 90%</span>
     </div>
    </div><!-- /progress bar -->

    <div class="progress progress-lg">
     <!-- progress bar -->
     <div class="progress-bar progress-bar-danger progress-bar-striped active text-left" role="progressbar"
      aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 98%; min-width: 2em;">
      <span>HTML/CSS 98%</span>
     </div>
    </div><!-- /progress bar -->

    <div class="progress progress-lg">
     <!-- progress bar -->
     <div class="progress-bar progress-bar-success progress-bar-striped active text-left" role="progressbar"
      aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%; min-width: 2em;">
      <span>JAVASCRIPT 60%</span>
     </div>
    </div><!-- /progress bar -->

    <div class="progress progress-lg">
     <!-- progress bar -->
     <div class="progress-bar progress-bar-info progress-bar-striped active text-left" role="progressbar" aria-valuenow="88"
      aria-valuemin="0" aria-valuemax="100" style="width: 88%; min-width: 2em;">
      <span>PHP/MYSQL 88%</span>
     </div>
    </div><!-- /progress bar -->

   </div>

   <div class="col-lg-4">

    <div class="heading-title heading-border-bottom">
     <h3>Smarty Special</h3>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis aliquam id pariatur
     accusantium perspiciatis deserunt officiis similique nihil dolor blanditiis dignissimos iure
     praesentium vero suscipit doloribus aperiam unde hic non sint neque molestiae consectetur
     voluptatum beatae ratione corporis.</p>

    <a href="#" class="btn btn-default btn-block btn-lg">Join Us Now</a>

   </div>

  </div>

 </div>
</section>
<!-- / -->




<!-- PARALLAX -->
<section class="parallax pb-0" style="background-image: url('demo_files/images/dark.jpg');">
 <div class="overlay dark-4">
  <!-- dark overlay [0 to 9 opacity] -->
 </div>

 <div class="container">

  <div class="text-center">
   <h3 class="m-0">Smarty Inside</h3>
   <p class="font-lato fw-300 lead mt-0">We can't solve problems by using the same kind of thinking we
    used when we created them.</p>
  </div>


  <div class="mt-80 text-center">
   <img class="img-fluid wow fadeInUp" data-wow-delay="0.1s" src="demo_files/images/browsers.png" alt="" />
  </div>
 </div>

</section>
<!-- /PARALLAX -->




<!-- Counters -->
<section class="section-sm alternate">
 <div class="container">

  <div class="row countTo-sm text-center">

   <div class="col-6 col-sm-3 col-6">
    <i class="ico-lg ico-transparent et-megaphone"></i>
    <div class="block fs-40" style="color: #3498db;">
     <strong class="countTo fs-40" data-speed="3000">1303</strong>
    </div>
    <h3 class="fs-15 mt-10 mb-0">LINES OF CODE</h3>
   </div>

   <div class="col-6 col-sm-3 col-6">
    <i class="ico-lg ico-transparent et-chat"></i>
    <div class="block fs-40" style="color: #e74c3c;">
     <strong class="countTo fs-40" data-speed="3000">100</strong> %
    </div>
    <h3 class="fs-15 mt-10 mb-0">SUPPORT</h3>
   </div>

   <div class="col-6 col-sm-3 col-6">
    <i class="ico-lg ico-transparent et-flag"></i>
    <div class="block fs-40" style="color: #16a085;">
     <strong class="countTo fs-40" data-speed="3000">77</strong> %
    </div>
    <h3 class="fs-15 mt-10 mb-0">CUSTOMER CARE</h3>
   </div>

   <div class="col-6 col-sm-3 col-6">
    <i class="ico-lg ico-transparent et-puzzle"></i>
    <div class="block fs-40" style="color: #9b59b6;">
     <strong class="countTo fs-40" data-speed="3000">9877</strong>
    </div>
    <h3 class="fs-15 mt-10 mb-0">DELIVERY</h3>
   </div>

  </div>

 </div>
</section>
<!-- /Counters -->




<!-- CLIENTS -->
<section class="section-sm">
 <div class="container">

  <header class="text-center mb-60">
   <h4>HAPPY CLIENTS</h4>
  </header>


  <ul class="row clients-dotted list-inline">
   <li class="col-md-5th col-sm-5th col-6">
    <a href="#">
     <img class="img-fluid" src="demo_files/images/brands/1.jpg" alt="client" />
    </a>
   </li>
   <li class="col-md-5th col-sm-5th col-6">
    <a href="#">
     <img class="img-fluid" src="demo_files/images/brands/2.jpg" alt="client" />
    </a>
   </li>
   <li class="col-md-5th col-sm-5th col-6">
    <a href="#">
     <img class="img-fluid" src="demo_files/images/brands/3.jpg" alt="client" />
    </a>
   </li>
   <li class="col-md-5th col-sm-5th col-6">
    <a href="#">
     <img class="img-fluid" src="demo_files/images/brands/4.jpg" alt="client" />
    </a>
   </li>
   <li class="col-md-5th col-sm-5th col-6">
    <a href="#">
     <img class="img-fluid" src="demo_files/images/brands/5.jpg" alt="client" />
    </a>
   </li>
   <li class="col-md-5th col-sm-5th col-6">
    <a href="#">
     <img class="img-fluid" src="demo_files/images/brands/6.jpg" alt="client" />
    </a>
   </li>
   <li class="col-md-5th col-sm-5th col-6">
    <a href="#">
     <img class="img-fluid" src="demo_files/images/brands/7.jpg" alt="client" />
    </a>
   </li>
   <li class="col-md-5th col-sm-5th col-6">
    <a href="#">
     <img class="img-fluid" src="demo_files/images/brands/8.jpg" alt="client" />
    </a>
   </li>
   <li class="col-md-5th col-sm-5th col-6">
    <a href="#">
     <img class="img-fluid" src="demo_files/images/brands/1.jpg" alt="client" />
    </a>
   </li>
   <li class="col-md-5th col-sm-5th col-6">
    <a href="#">
     <img class="img-fluid" src="demo_files/images/brands/2.jpg" alt="client" />
    </a>
   </li>
  </ul>

 </div>
</section>
<!-- /CLIENTS -->



<!-- 
			CALLOUT
			FULLWIDTH: OUTSIDE OF <section> 

				Available Classes:
				alert-transparent
				alert-default
				alert-info
				alert-warning
				alert-danger
				alert-success
				alert-dark
				
				bordered-bottom
				bordered-top
			-->
<div class="alert alert-success bordered-bottom m-0">
 <div class="container">

  <div class="row">

   <div class="col-md-9 col-sm-12">
    <!-- left text -->
    <h3>Call now at <span><strong>+800-565-2390</strong></span> and get 15% discount!</h3>
    <p class="font-lato fw-300 fs-20 mb-0">
     We truly care about our users and our product.
    </p>
   </div><!-- /left text -->


   <div class="col-md-3 col-sm-12 text-right">
    <!-- right btn -->
    <a href="#purchase" rel="nofollow" target="_blank" class="btn btn-success btn-lg btn-round">PURCHASE
     NOW</a>
   </div><!-- /right btn -->

  </div>

 </div>
</div>
<!-- /CALLOUT -->

{% endblock %}