{% load static %}
<div id="header" class="navbar-toggleable-md sticky clearfix">

 <!-- TOP NAV -->
 <header id="topNav">
  <div class="container">

   <!-- Mobile Menu Button -->
   <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
    <i class="fa fa-bars"></i>
   </button>

   <a class="logo float-left" href="#">
    <img src="{% static 'img/logo.png' %}" alt="" />
   </a>

   <div class="navbar-collapse collapse float-right nav-main-collapse">
    <nav class="nav-main">

     <ul id="topMain" class="nav nav-pills nav-main">
      <li><a href="{% url 'home' %}">HOME</a></li>
      <li class="dropdown">
       <a class="dropdown-toggle" href="#">SERVICES</a>
       <ul class="dropdown-menu">
        {% for service in services %}
        <li><a href="{% url 'services' service.slug %}">{{ service.short|title }}</a></li>
        {% endfor %}
       </ul>
      </li>
      <li class="dropdown">
       <a class="dropdown-toggle" href="#">ABOUT US</a>
       <ul class="dropdown-menu">
        <li><a href="{% url 'about' %}">COMPANY</a></li>
        <li><a href="{% url 'board' %}">BOARD OF DIRECTORS</a></li>
        <li><a href="{% url 'team' %}">TEAM</a></li>
       </ul>
      </li>
      <li><a href="{% url 'contact' %}">CONTACT US</a></li>
     </ul>

    </nav>
   </div>

  </div>
 </header>

</div>