{% extends "base.html" %}
{% load static %}
{% block content %}


<section class="page-header page-header-xs dark">
 <div class="container">

  <h1>SERVICES</h1>

  <ol class="breadcrumb">
   <li><a href="{% url 'home' %}">Home</a></li>
   <li>Services</li>
   <li class="active">{{ service.short }}</li>
  </ol>

 </div>
</section>


<section>
 <div class="container">
  <div class="row">
   <div class="col-md-9">
    <div class="heading-title">
     <h2>{{ service.name }}</h2>
    </div>
    <p class="justify">{{ service.text }}</p>
   </div>
  </div>
 </div>
</section>

{% endblock %}