{% extends "base.html" %}
{% load static %}
{% block content %}


<section class="page-header page-header-xs dark">
  <div class="container">

   <h1>TEAM</h1>

   <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'about' %}">About Us</a></li>
    <li class="active">Team</li>
   </ol>

  </div>
</section>

<section class="p-40 b-0" style="background-color:#f5f6fa;">
  {% for person in people %}
   <div class="row">
  
    <div class="col-lg-3 col-md-3 col-sm-4">
     <div class="thumbnail text-center">
      <img class="img-fluid" src="{% static person.image_path %}" alt="image" />
      <h2 class="fs-18 mt-10 mb-0">{{ person }}</h2>
      <h3 class="fs-11 mt-0 mb-10 text-muted">{{ person.title }}</h3>
     </div>
    </div>
  
    <div class="col-lg-9 col-md-9 col-sm-8">
     <div>
      <p class="justify">{{ person.bio }}</p>
     </div>
    </div>
  
   </div>
   {% endfor %}
</section>

{% endblock %}