.main-nav{
    background: #011b35 !important;
}

/* navbar styling*/

.navbar-text i{
    margin-left: 1rem;
    font-size: 1.3rem;
}

.navbar-text{
    font-family: 'lato', sans-serif;
}

/* nav-text icons */

.navbar-text .fa-google-plus-g{
    color: #DD4B39;
}

.navbar-text .fa-facebook-f {
    color: #3b5998;
}

.navbar-text .fa-twitter {
    color: #00acee;
}

.navbar-text .fa-linkedin-in {
    color: #0077B5;
}

/* navbar ul li css styles */

.navbar-nav .nav-item .nav-link{
    color: aliceblue;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

.navbar-nav{
    margin: 0;
}

.navbar-nav i{
    font-size: 0.7rem;
    display: none;
}

.navbar-nav button{
    border: solid 2px red;
    background: none;
    margin-left: 1rem;
    border-radius: 2rem;
}

/* showcase css */

.carousel-caption{
    padding-bottom: 14rem;
    text-align: left;
}

.carousel-caption button{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    border: solid 2px red;
    background: red;
    border-radius: 2rem;
    font-weight: bold;
}

.carousel-caption button a{
    color: aliceblue;
}

.carousel-caption p span{
    display: block;
}

.carousel-caption h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

/* About section */

.t-about{
    padding-top: 3rem;
}

.t-about h3{
    color: rgb(240, 6, 95);
    font-family: poppins;
    font-weight: bold;
}

.t-about h2{
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: 2rem;
}

.t-about h2 span{
    display: block;
}

.about-us{
    padding-top: 3rem !important;
}

.about-us h3{
    color: rgb(240, 6, 95);
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.about-us h3 span{
    text-decoration: underline;
}

/* About us html section */
.about-us i{
    border: 3px solid rgb(240, 6, 95);
    border-radius: 50%;
    padding: 1rem;
    margin-top: 2rem;
    color: #011b35;
}

.about-us h4{
    font-family: 'Poppins', sans-serif;
    padding-top: 1rem;
}

.about-us p{
    color: rgb(129, 128, 126);
    font-family: 'Questrial', sans-serif;
}

/* Getting started */
.getting-started i{
    display: block;
    margin-top: 0.2rem;
}

.getting-started{
    padding-top: 0.6rem;
}

.getting-started button{
    justify-content: center;
    border: solid 2px rgb(240, 6, 95);
    background: rgb(240, 6, 95);
    border-radius: 2rem;
    margin-bottom: 1rem;
}

.getting-started .nav-link{
    font-family: 'Lato', sans-serif;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: bold;

}

/* Footer css customs */
footer ul li{
    display: inline-block;
}

footer ul li i{
    margin-left: 0.3rem;
}

footer{
    border-top: 2px solid rgb(219, 216, 216);
    margin-top: 2rem;
    text-align: center;
}

footer ul li a{
    color:black;
}

/* Homepage Service css customs */
.service-home{
    background: url('../img/b5.png') no-repeat;
    margin-top: 1rem;
}

.service-home h5{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: bold;
    color: rgb(240, 6, 95);
}

.service-home h2{
    font-family: 'Questrial', sans-serif;
    text-align: center;
}

.service-home i{
    color: rgb(240, 6, 95);
}

.service-home .row h2{
      font-family: 'Questrial', sans-serif;
      text-align: center;
      font-size: 1rem;
      color: aliceblue;
}

.service-home .row h5 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: aliceblue;
    padding-top: 1rem;
}

.service-home button {
    justify-content: center;
    border: solid 2px rgb(240, 6, 95);
    background: rgb(240, 6, 95);
    border-radius: 2rem;
    margin: 2rem 0;
    margin-left: 5rem;
    background: none;
}

.service-home button a{
    color: aliceblue;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
/* End of services */

/* Client Css Styles */
.client h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    opacity: 0.7;
    padding-top:2.5rem;
}

.client ul li{
    display: inline-block !important;
    margin-left: 1rem;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    opacity: 0.8;
    font-weight: bold !important;
}

.client ul{
    margin-left: 2rem;
}