/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    footer span{
        display: none;
    }

    .getting-started button {
        margin-left: 7rem;
        margin-top: 1rem;
    }
}


@media only screen and (min-width: 768px) {
    .getting-started button{
        margin-left: 24rem;
        margin-top: 1rem;
    }

    footer ul li i {
        margin-left: 1rem;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

     .getting-started button {
         margin-left: 29.8rem;
         margin-top: 1rem;
     }

}
